*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.head-Section {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url('images/banner/banner2.png' );
    background-size: cover; 
    position: relative;
    justify-content: right;
      text-align: right;
    align-items: center; 
} 
.relative{
    position: relative;
    right: 200px;
}
.header-title {
    font-weight: 700;
    font-size: 65px;
}
.btn{
    font-weight: 500;
    font-size: 16px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: #ff5959;
    color: white;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
}